@import url(bulma.css);
		html { 
			background: #f0f0f0;
			height: 100vh;
			background: linear-gradient(80deg, #4facfe 0%, #00f2fe 100%);
		}

		@media (-webkit-device-pixel-ratio: 2) {
			html { font-size: 28px; }
		}

		.divider {
			height: 0;
			border: 1.5px solid #e0e0e0;
		}

		.big-info, .small-info, .delete-x {
			display: inline-block;
		}

		.small-info { 
			width: 4.5em;
			float: right;
		}
		
		.delete-x {
			float: right;
		}

		.details-grade-input input[type="text"] {
			width: 14em;
		}

		.details-grade-input input[type="number"] {
			width: 8em;
		}
		
		.details-grade-input a {
			display: inline-block;
			height: 48px;
			padding-top: 8px;	
		}
